<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>configdemo</display-name>
	<servlet>
		<servlet-name>ConfigFileDemo</servlet-name>
		<servlet-class>ConfigFileDemo</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>orlichenko1975@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>adminFone</param-name>
			<param-value>+38111222333</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigFileDemo</servlet-name>
		<url-pattern>/param</url-pattern>
	</servlet-mapping>
</web-app>